* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v10_41 {
  width: 100%;
  height: 1024px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v10_2 {
  width: 108px;
  height: 99px;
  background: rgba(240,101,67,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 335px;
  overflow: hidden;
}
.v10_3 {
  width: 156px;
  height: 99px;
  background: rgba(172,255,200,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 641px;
  overflow: hidden;
}
.v10_7 {
  width: 147px;
  height: 99px;
  background: rgba(88,255,144,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 470px;
  overflow: hidden;
}
.v12_0 {
  width: 100%;
  height: 192px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 93px;
  left: 0px;
  overflow: hidden;
}
.accountBlock {
  width: 108px;
  height: 99px;
  background: rgba(255,220,212,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 900px;
  overflow: hidden;
}
.howToBlock {
  width: 108px;
  height: 99px;
  background: rgba(245,156,134,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 690px;
  overflow: hidden;
}
.aboutBlock {
  width: 108px;
  height: 99px;
  background: rgba(255,119,89,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 460px;
  overflow: hidden;
}
.v10_13 {
  width: 100%;
  height: 41px;
  background: rgba(49,54,56,1);
  opacity: 1;
  position: absolute;
  top: 984px;
  left: 2px;
  overflow: hidden;
}
.contactUs {
  width: 76px;
  color: rgba(172,255,200,1);
  position: absolute;
  top: 993px;
  left: 400px;
  font-family: Sawarabi Mincho;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.advertise {
  width: 67px;
  color: rgba(172,255,200,1);
  position: absolute;
  top: 993px;
  left: 1100px;
  font-family: Sawarabi Mincho;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.tOS {
  width: 117px;
  color: rgba(172,255,200,1);
  position: absolute;
  top: 993px;
  left: 800px;
  font-family: Sawarabi Mincho;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.privacyPolicy {
  width: 98px;
  color: rgba(172,255,200,1);
  position: absolute;
  top: 993px;
  left: 1700px;
  font-family: Sawarabi Mincho;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.copyRightPolicy {
  width: 112px;
  color: rgba(172,255,200,1);
  position: absolute;
  top: 993px;
  left: 1400px;
  font-family: Sawarabi Mincho;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.profileHeader {
  width: 795px;
  height: 84px;
  background: rgba(49,54,56,1);
  opacity: 1;
  position: absolute;
  top: 562px;
  left: 650px;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
  overflow: hidden;
}
.fAQ {
  width: 34px;
  color: rgba(172,255,200,1);
  position: absolute;
  top: 993px;
  left: 100px;
  font-family: Sawarabi Mincho;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v10_20 {
  width: 100%;
  height: 93px;
  background: rgba(49,54,56,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 2px;
  overflow: hidden;
}
.loginBack {
  width: 104px;
  height: 45px;
  background: rgba(240,156,80,0.4000000059604645);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 1685px;
  border: 1px solid rgba(0,0,0,1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v10_22 {
  width: 381px;
  color: rgba(172,255,200,1);
  position: absolute;
  top: 2px;
  left: 29px;
  font-family: Raleway;
  font-weight: Regular;
  font-size: 72px;
  opacity: 1;
  text-align: center;
}
.logIn {
  width: 76px;
  color: rgba(172,255,200,1);
  position: absolute;
  top: 2px;
  left: 1700px;
  font-family: Sawarabi Mincho;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.myCourses {
  width: 141px;
  color: rgba(240,157,81,1);
  position: absolute;
  top: 29px;
  left: 1450px;
  font-family: Sawarabi Mincho;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.howTo {
  width: 141px;
  color: rgba(240,157,81,1);
  position: absolute;
  top: 29px;
  left: 700px;
  font-family: Sawarabi Mincho;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.myCalen {
  width: 162px;
  color: rgba(240,157,81,1);
  position: absolute;
  top: 29px;
  left: 1150px;
  font-family: Sawarabi Mincho;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.account {
  width: 95px;
  color: rgba(240,157,81,1);
  position: absolute;
  top: 30px;
  left: 900px;
  font-family: Sawarabi Mincho;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.about {
  width: 70px;
  color: rgba(240,157,81,1);
  position: absolute;
  top: 29px;
  left: 480px;
  font-family: Sawarabi Mincho;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.profilePic {
  width: 247px;
  height: 244px;
  background: rgba(132,132,132,1);
  opacity: 1;
  position: absolute;
  top: 163px;
  left: 940px;
  overflow: hidden;
}
.yourName {
  width: 541px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 417px;
  left: 800px;
  font-family: Raleway;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: center;
}
.v12_3 {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 489px;
  left: 104px;
  font-family: Raleway;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.friends {
  width: 90px;
  color: rgba(240,157,81,1);
  position: absolute;
  top: 586px;
  left: 1250px;
  font-family: Sawarabi Mincho;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.edit {
  width: 70px;
  color: rgba(240,157,81,1);
  position: absolute;
  top: 586px;
  left: 750px;
  font-family: Sawarabi Mincho;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.courses {
  width: 93px;
  color: rgba(240,157,81,1);
  position: absolute;
  top: 586px;
  left: 990px;
  font-family: Sawarabi Mincho;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v13_5 {
  width: 100%;
  height: 301px;
  background: rgba(196,196,196,0);
  opacity: 1;
  position: absolute;
  top: 665px;
  left: 144px;
  border: 1px solid rgba(0,0,0,1);
  overflow: hidden;
}
.calenBlock {
  width: 156px;
  height: 7px;
  background: rgba(172,255,200,1);
  opacity: 1;
  position: absolute;
  top: 93px;
  left: 1150px;
  overflow: hidden;
}
.coursesBlock {
  width: 147px;
  height: 6px;
  background: rgba(88,255,144,1);
  opacity: 1;
  position: absolute;
  top: 93px;
  left: 1450px;
  overflow: hidden;
}
