body {
	background-color: #FEFEFE;
	font-family: "Open Sans";
}

h2 {	
	font-family: Raleway;
	color: black;
	font-size: 2em;
}

.formContainer {
    background-color: #EFEFEF;
    position: absolute;
    padding: 20px 40px 20px 20px;
    top: 50%;
    left: 50%;
    width: 600px;
    min-height: 300px;
    margin-left: -300px;
    margin-top: -300px;
}

input[type=text],[type=date], select {
  width: 100%;
  margin: 7px 0 14px 0;
  padding: 10px;
  display: inline-block;
  box-sizing: content-box; 
}

input[type=date] {
    font-family: "Open Sans";
}

input[type=submit] {
  background-color: #313638;
  color: white;
  font-family: "Open Sans";
  width: 100%;
  box-sizing: content-box; 
  padding: 20px 10px;
  margin: 14px 0;
  border: none;
}

input[type=submit]:hover {
  background-color: #475054;
}