<!DOCTYPE html><html><head><link href="https://fonts.googleapis.com/css?family=Sawarabi+Mincho&display=swap" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet" />
<link href="../../static/pages/aboutPage.css" rel="stylesheet" />
<title>Document</title>
</head>
<body>
<div class="v10_41">
<div class="v10_2">
</div><div class="v10_3">
</div><div class="v10_7">
</div><div class="v12_0">
</div><div class="accountBlock">
</div><div class="howToBlock">
</div><div class="aboutBlock">
</div><div class="v10_13">
</div><span class="contactUs">Contact Us</span>
<span class="advertise">Advertise</span>
<span class="tOS">Terms of Service</span>
<span class="privacyPolicy">Privacy Policy</span>
<span class="copyRightPolicy">Copyright Policy</span>
<div class="profileHeader"></div>
<span class="fAQ">FAQ</span>
<div class="v10_20"></div>
<div class="loginBack"></div>
<span class="v10_22">Planner</span>
<span class="logIn">Log In</span>
<span class="myCourses">My Courses</span>
<span class="howTo">How-to</span>
<span class="myCalen">My Calender</span>
<span class="account">Account</span>
<span class="about">About</span>
<div class="profilePic">
</div>
<span class="yourName">Your Name</span>
<span class="v12_3">Your bio goes here. Your bio goes here. Your bio goes here. Your bio goes here. Your bio goes here. Your bio goes here. Your bio goes here. </span>
<span class="friends">Friends</span>
<span class="edit">Edit</span>
<span class="courses">Courses</span>
<div class="v13_5"></div>
<div class="calenBlock"></div>
<div class="coursesBlock"></div></div>
</body>
</html>