{% extends "./base.html"%}
{%block title %}About{% endblock %}

{% block content %}
	<div class="contentContainer">
		<div class="blackHeaderBar"><span class="header">Meet the Team</span></div>
			<div class="textContainer">
				<div class="descriptionbox">
					<div class="imagebox" style="background-image: url('https://cdn.discordapp.com/attachments/834906511641018412/834907898911260752/0425191313g_Film1.jpg');">
					</div>
					<h4 style="text-align:center">Wren Bell</h4>
					Environmental Science Major and Computer Science Minor at George Mason University. Worked on webpage design. Virginia native who enjoys making art and being in nature.
				</div>

				<div class="descriptionbox">
					<div class="imagebox" style="background-image: url('https://cdn.discordapp.com/attachments/834906511641018412/834997205056094208/175511826_470621157693844_537835931297461865_n.png');">
					</div>
					<h4 style="text-align:center">Helen Shi</h4>
					Computer Science major at GMU. Worked on the back-end. Likes oat milk.
				</div>

				<div class="descriptionbox">
					<div class="imagebox" style="background-image: url('https://cdn.discordapp.com/attachments/834906511641018412/836718169660850247/unknown.png');">
					</div>
					<h4 style="text-align:center">Steven Kwok</h4>
					Computer Game Design and Computer Science major, Art and Visual Technology minor at GMU. Worked on front-end designing. Background character who loves art, video games, music, the great outdoors, and his girlfriend.
				</div>

				<div class="descriptionbox">
					<div class="imagebox" style="background-image: url('https://cdn.discordapp.com/attachments/834906511641018412/836755761958748200/zZCnFtNj-4520264082.jpeg');">
					</div>
					<h4 style="text-align:center">Phillip Tran</h4>
					Computer Science major. Worked on back-end. Big fan of programming, gymming, video games, and Dababy.
				</div>

				<div class="descriptionbox">
					<div class="imagebox" style="background-image: url('https://cdn.discordapp.com/attachments/834906511641018412/837416025066176522/Claire_Shirt.jpg');">
					</div>
					<h4 style="text-align:center">Camden Levinson</h4>
					Computer Science Major. Enjoy playing video games, spending time with friends, and recent exploring crossdressing.
				</div>
				
				<div class="descriptionbox">
					<div class="imagebox" style="background-image: url('https://cdn.discordapp.com/attachments/834906511641018412/837086235682930789/20210428_173120.jpg');">
					</div>
					<h4 style="text-align:center">Niruta Dahal</h4>
					Computer Science major. Worked on the back-end. Likes to travel and listen to music.
				</div>

				<div class="descriptionbox">
					<div class="imagebox" style="background-image: url('https://cdn.discordapp.com/attachments/834906511641018412/837098815739527218/unknown.png');">
					</div>
					<h4 style="text-align:center">Emmanuel Steiner Robles</h4>
					CS Major / Business Minor at GMU. Back-end dev who loves roller skating, sport shooting, painting model trains, and all things CAD.
				</div>

				<div class="descriptionbox">
					<div class="imagebox" style="background-image: url('https://cdn.discordapp.com/attachments/834906511641018412/837439544516149268/20200121_1842412.jpg');">
					</div>
					<h4 style="text-align:center">Laila Abuelhawa</h4>
					Computer Science Major / Game Design Minor. Worked on front-end. Likes video games and cooking. Recently, likes playing riichi mahjong online.
				</div>


            </div>
        </div>
    </div>

{% endblock %}