<!DOCTYPE html>
<html> 
	<head> 
		{% load static %}
		<meta charset="UTF-8">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open Sans">
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
		<link rel="stylesheet" type="text/css" href="{% static 'pages/style.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'pages/loginPage.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'pages/editPage.css' %}">
		<title>{% block title %}TidyPlan{% endblock %}</title>
	</head>
	<body class="home">
	<div class="blackHeaderBar">
        <div class="header">TidyPlan</div>
        <div class="category" style="border-color:rgb(255,119,89)">
			<a href="/about">About</a>
		</div>
        <div class="category" style="border-color:rgb(245,156,134)">
			<a href="/how-to">How-to</a>
		</div>
        <div class="category" style="border-color:rgb(255,220,212);">
			<a href="/account">Account</a>
		</div>
        <div class="category" style="border-color:rgb(172,255,200);">
			<a href="/calendar">My Calendar</a>
		</div>
        <div class="category" style="border-color:rgb(88,255,144)">
			<a href="/courses">My Courses</a>
		</div>
		<div style="align-self: flex-start;">
			<div class="small brown-button" >
				{%if user.username %}
				<a href="/logout">Logout</a>
				{% else %}
				<a href="/login">Login</a>
				{%endif%}
			</div>
			{%if user.username %}
			<div class="small" style="align-self: flex-end;">
				<a href="/account">Logged in as: {{user.username}}</a>
			</div>
			{%endif%}
		</div>
    </div>
	<div class="content">
		{% block content %}
		{% endblock %}
	</div>
	<div class="bottom-bar blackHeaderBar">
        <div class="small">FAQ</div>
        <div class="small">Contact Us</div>
        <div class="small">Terms of Service</div>
        <div class="small">Advertise</div>
        <div class="small">Copyright Policy</div>
        <div class="small">Privacy Policy</div>
    </div>
	</body>
</html>