<!DOCTYPE html>
<html lang="en">
<head>
<title>TidyPlan</title>
<meta charset="UTF-8">
<link href="./css/main.css" rel="stylesheet">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open Sans">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="../../static/pages/editPage.css">

</head>
<body>

<div class = "formContainer">
<form>
    <label for="taskName">Task name:</label><br>
    <input type = "text" id="taskName" name="taskName" placeholder="Task name..."><br>

    <label for="duedate">Due date:</label><br>
    <input type = "date" id="dueDate" name="date"><br>

    <label for="courseName">Course:</label><br>
    <select id="courseName" name="courseName">
        <option value="Added">Added</option>
        <option value="Courses">Courses</option>
        <option value="Should">Should</option>
        <option value="Appear">Appear</option>
        <option value="Here">Here</option>
    </select>

    <input type="submit" value="Add new task">
</form>
</div>



</body>
</html>
