<!DOCTYPE html>
<html> 
	<head> 
		<meta charset="UTF-8">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open Sans">
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
		<link rel="stylesheet" type="text/css" href="../../static/pages/editPage.css">
		<link rel="stylesheet" type="text/css" href="../../static/pages/style.css">
		<link rel="stylesheet" type="text/css" href="../../static/pages/loginPage.css">
		<link rel="stylesheet" type="text/css" href="../../static/pages/howtoPage.css">
		<title>TidyPlan</title>
	</head>
</html>
<body class="home">
		<div class="contentContainer">
			<div class="blackHeaderBar"><span class="header">Getting Started</span></div>
				<div class="textContainer">
					<h4>Create an <a class= "contentContainer" href="/">Account</a></h4>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
					<br>
					<h4>Add your <a class= "contentContainer" href="/">Courses</a></h4>
					Mauris imperdiet, ex ut tempus pharetra, arcu orci iaculis tellus, sed lacinia felis metus nec velit. Aenean vel malesuada nisi. 
					<br>
					<h4>Add your <a class= "contentContainer" href="/">Schedule</a></h4>
					Morbi faucibus mauris est, quis facilisis dui egestas id. Nunc quis sapien in quam consequat faucibus.
					<br>
					<h4>View your <a class= "contentContainer" href="/">Calendar</a></h4>
					Integer euismod congue justo a consectetur. Vivamus gravida ligula non orci finibus auctor. 
					<br>
					<h4>Edit your <a class= "contentContainer" href="/">Tasks</a></h4>
					Nulla finibus feugiat ex, eget mattis lectus commodo vel. Mauris feugiat hendrerit pulvinar. 
					<br>
					<h4>Complete a <a class= "contentContainer" href="/">Task</a></h4>
					Fusce mattis augue in fermentum malesuada. Fusce nisl turpis, eleifend sit amet efficitur quis, rutrum vel sapien. Donec a laoreet ex. 
				</div>
			</div>
        </div>

</div>
