{% extends "./base.html"%}
{%block title %}View Tasks{% endblock %}

{% block content %}
	<form method = "post" action = "" class="task_create">
		{% csrf_token %}
		<input type="submit", name='new_task', value = "New Task">
	</form>
	{% if tsk_list %}
		<h1>{{tsk_list.name_text}}</h1>
		
			{% for task in tsk_list %}
			<div class="container">
				<div class="task_preview">
					{{task.description_text}}
					<form method = "post" action = "">
						{% csrf_token %}
						<input type="hidden", name='deleted_task', value="{{task.task_id}}">
						<input type="submit", name='delete_task' value="[Delete]">
					</form>
				</div>
			</div>
			{% endfor %}
		
	{% else %}
		<p> No tasks are available to view </p>
	{% endif %}

{% endblock %}